---
layout: default
---

	<div class="section card column small-12 medium-8 small-centered">
		<div class="upper-card row">
			<div class="book-img column small-10 medium-4 small-centered">
        <img src=" {{ "img/" | prepend: site.baseurl | append: page.imgsrc }} ">
			</div>
		</div>
		<div class="middle-card row">
			<div class="book-metadata column small-10 small-centered">
				<h3 class="book-title">
					{{page.book-title}}
				</h3>
				<div class="book-author-year small-centered">
					<span class="book-author">{{page.book-author}}</span>&nbsp;|&nbsp;
					<span class="book-year">{{page.book-year}}</span>
				</div>
			</div>
		</div>
		<div class="bottom-card row">
      <div class="book-review column small-10 small-centered">
				{{ content }}
 			</div>
		</div>
	</div>


<!--<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>-->
